.cart-product-name{
    text-align: center;
    font-size: 30px;
    
}
@media screen and (max-width:567px) {
    .cart-product-name{
        font-size: 20px;
    }
    
}

.cart-product-container{
    width: 100%;
    /* max-width: 80%; */
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    margin: 20px 0px;
    cursor: pointer;
    background-color:  hwb(193 3% 11%);
    box-shadow: -5px 5px 10px #484D6D;
    color: whitesmoke;

}
.cart-product-img{
    width: 100%;
    max-width: 150px;
}
.cart-product-details{
    margin: 30px 0px 0px 0px;
}
.cart-product-title{
    font-size: 20px;
    margin-bottom: 10px;
}
.cart-product-brand{
    font-size: 17px;
    margin-bottom: 10px;
}
.cart-product-price{
    font-size: 17px;
    margin-bottom: 10px;

}
@media screen and (max-width:567px) {
    
    .cart-product-img{
        margin-top: 5px;
        width: 100px;
        height: 100px;
    }
    .cart-product-details{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .cart-product-title{
        font-size: 15px;
    }
    .cart-product-brand{
        font-size: 13px;
    }
    .cart-product-price{
        font-size: 13px;
    }
    
}

.cart-product-count-container{
    /* margin: 0px 0px 0px 0px; */
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}
.cart-product-count{
    margin: 0px 10px;
}
.icon-color{
    color: white;
    /* width: 50px; */
}


.cart-product-remove-container{
    display: flex;
    align-items: center;
}

.cart-product-remove{
    margin-left: 20px;
    background-color: orangered;    
    width: 90px;
    height: 40px;
    font-size: 17px;
    border: 0px;
    outline: none;
}
.cart-product-remove:hover{
    border-radius: 10px;

}

@media screen and (max-width:567px) {
    .cart-product-remove{
        font-size: 14px;
        width: 70px;
        height: 30px;
    }
    
}