.product-item {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding-bottom: 20px;
  margin-bottom: 48px;
  width: 22%;
  border-radius: 10px;
  /* flex-grow: 0;
    flex-shrink: 1; */
  margin-right: 20px;
  list-style-type: none;
  text-decoration: none;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45);
  position: relative;
}


@media screen and (max-width: 700px) {
  .product-item {
    width: 45%;
    /* height: 200px; */
  }

  .title {
    font-size: 20px;

  }
}

@media screen and (min-width: 700px) and (max-width:991px) {
  .product-item {
    width: 29%;
    /* height: 200px; */
  }
}

.all-products-img {
  width: 100%;
  max-height: 350px;
  border-radius: 6px;
}

.product-details-container {
  padding-left: 20px;
}

/* .all-products-img:hover{
    max-height: 400px;

  } */
/* .product-img-container{
    width: 90%;
    margin: auto;
  }
   */
.title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 8px;
}


.brand {
  color: #594d6d;
  font-family: 'Roboto';
  font-size: 16px;
  margin-bottom: 6px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2px;
}

.price {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

@media screen and (max-width: 700px) {

  .title {
    font-size: 20px;

  }

  .brand {
    font-size: 15px;
  }

  .price {
    font-size: 15px;
  }
}

@media screen and (min-width: 700px) and (max-width:991px) {
  .title {
    font-size: 22px;
  }

  .brand {
    font-size: 16px;
  }

  .price {
    font-size: 16px;
  }
}

.rating-container {
  display: flex;
  align-items: center;
  background-color: #3b82f6;
  border-radius: 6px;
  padding: 6px 6px;

}

.rating {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.star {
  height: 20px;
  width: 20px;
  margin-bottom: 3px;
}

/* whole container */
.product-item:hover{
  border: 1px solid #3b82f6;
  transform: translate(10px,5px) ;
}

